<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- @BeforeSuite -->
<suite name="TestAll">

    <!-- @BeforeTest -->
    <test name="case1">
        <classes>
            <class name="com.bmwu.testng.configurationannotations.ConfigurationTest" />
            <class name="com.bmwu.testng.configurationannotations.SuiteTest" />
            <class name="com.bmwu.testng.configurationannotations.OtherTest" />
        </classes>
    </test>
    <!-- @AfterTest -->

    <!-- @BeforeTest -->
    <test name="case2">
        <classes>
            <class name="com.bmwu.testng.configurationannotations.SuiteTest" />
            <class name="com.bmwu.testng.configurationannotations.OtherTest" />
        </classes>
    </test>
    <!-- @AfterTest -->

    <!-- Group Test -->

    <test name="GroupTest">
        <classes>
            <class name="com.bmwu.testng.groups.GroupOnClassTest" />
            <class name="com.bmwu.testng.groups.GroupTest" />
        </classes>
    </test>

    <test name="GroupOnClassTest">

        <groups>
            <run>
                <!-- 这个是GroupTest文件里面的group name, 只会跑这个group, 所以 group:do 和依赖它的runFinal都不会被执行 -->
                <include name="group-test"/>
            </run>
        </groups>

        <classes>
            <class name="com.bmwu.testng.groups.GroupOnClassTest"/>
            <class name="com.bmwu.testng.groups.GroupTest"/>
        </classes>
    </test>

    <!-- Suite Test -->
    <test name="order">
        <classes>
            <class name="com.bmwu.testng.suite.ConfigTest" />
            <class name="com.bmwu.testng.suite.OrderTest"/>
        </classes>
    </test>

    <test name="database">
        <classes>
            <class name="com.bmwu.testng.suite.ConfigTest"/>
            <class name="com.bmwu.testng.suite.DatabaseTest"/>
        </classes>
    </test>

    <!--Specify package names instead of class names-->
    <test name="order2" >
        <packages>
            <package name="com.bmwu.testng.suite.*"/>
        </packages>
    </test>

    <!--Specify methods to include or exclude-->
    <test name="order3">
        <classes>
            <class name="com.bmwu.testng.suite.ConfigTest" />
            <class name="com.bmwu.testng.suite.OrderTest">
                <methods>
                    <include name="testMakeOrder" />
                    <include name="testUpdateOrder" />
                    <!--
                        <exclude name="testMakeOrder" />
                     -->
                </methods>
            </class>
        </classes>
    </test>

    <!--Specify groups to include or exclude-->
    <test name="database2">
        <groups>
            <run>
                <exclude name="brokenTests" />
                <include name="db" />
            </run>
        </groups>

        <classes>
            <class name="com.bmwu.testng.suite.DatabaseTest"/>
        </classes>
    </test>

</suite>
<!-- @AfterSuite -->