<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- @BeforeSuite -->
<suite name="TestAll">

    <!-- @BeforeTest -->
    <test name="case1">
        <classes>
            <class name="com.bmwu.testng.configurationannotations.ConfigurationTest" />
            <class name="com.bmwu.testng.configurationannotations.SuiteTest" />
            <class name="com.bmwu.testng.configurationannotations.OtherTest" />
        </classes>
    </test>
    <!-- @AfterTest -->

    <!-- @BeforeTest -->
    <test name="case2">
        <classes>
            <class name="com.bmwu.testng.configurationannotations.SuiteTest" />
            <class name="com.bmwu.testng.configurationannotations.OtherTest" />
        </classes>
    </test>
    <!-- @AfterTest -->

</suite>
<!-- @AfterSuite -->